
  <div style="text-align:center">Coming soon!</div>
<!--
An Investigation of Interaction and Information Needs for Protocol Reverse Engineering Automation.
Samantha Katcher, James A. Mattei, Jared Chandler, Daniel Votipka. CHI 2025.

A Survey of Cybersecurity Professionals’ Perceptions and Experiences of Safety and Belonging in the Community.
Samantha Katcher, Liana Wang, Caroline Yang, Chloé Messdaghi, Michelle L. Mazurek, Marshini Chetty, Kelsey R. Fulton, and Daniel Votipka. SOUPS 2024.

Vulnerability Discovery for All: Experiences of Marginalization in Vulnerability Discovery.
Kelsey R. Fulton, Samantha Katcher, Kevin Song, Marshini Chetty, Michelle L. Mazurek, Chloe Messdaghi, Daniel Votipka. IEEE S&P 2023.

A Qualitative Evaluation of Reverse Engineering Tool Usability.
James Mattei, Madeline McLaughlin, Samantha Katcher, Daniel Votipka. ACSAC 2022.

-->
