
  <div style="text-align:center">Coming soon!</div>
<!--
An Investigation of Interaction and Information Needs for Protocol Reverse Engineering Automation.
Samantha Katcher, James A. Mattei, Jared Chandler, Daniel Votipka. 
ACM Conference on Human Factors in Computing Systems (CHI) 2025.

A Survey of Cybersecurity Professionals’ Perceptions and Experiences of Safety and Belonging in the Community.
Samantha Katcher, Liana Wang, Caroline Yang, Chloé Messdaghi, Michelle L. Mazurek, Marshini Chetty, Kelsey R. Fulton, and Daniel Votipka. 
SOUPS 2024.

The PANOPTIC™ Privacy Threat Model
Stuart Shapiro, Cara Bloom, Ben Ballard, Shelby Slotter, Samantha Katcher, Katie Isaacson, Julie McEwen, Mark Paes, Ryan Xu.
MITRE Corporation 2023.

Privacy Threat Modeling for Everyone: MITRE PANOPTIC.
Samantha Katcher, Stuart Shapiro, Ben Ballard, Katie Isaacson, Julie McEwen, Shelby Slotter.
SOUPS 2024.

Vulnerability Discovery for All: Experiences of Marginalization in Vulnerability Discovery.
Kelsey R. Fulton, Samantha Katcher, Kevin Song, Marshini Chetty, Michelle L. Mazurek, Chloe Messdaghi, Daniel Votipka. 
IEEE Symposium on Security and Privacy 2025 (IEEE S&P) 2023.

Privacy Threat Modeling for Medical Devices: A Case Study. 
Samantha Katcher
Workshop on Privacy Threat Modeling (USENIX) 2023.

A Qualitative Evaluation of Reverse Engineering Tool Usability.
James Mattei, Madeline McLaughlin, Samantha Katcher, Daniel Votipka.
Annual Computer Security Applications Conference (ACSAC) 2022.

Development of a Rapid Prototyping COVID-19 Geographic Information System and the Influence of Testing Centers on Data Visualization
Samantha Katcher, Josephine Lyons, Mia Price, Thilanka Munasinghe.
International Conference on Medical and Health Informatics (ICMHI) 2021.

Master's Thesis
Supporting Marginalized Communities in the Security and Privacy Workforce
Samantha Katcher
Tufts University 2025.
	
Comparison of technologies for data exploration and network analysis with volcano data
Samantha Katcher
Rensselaer Polytechnic Institute 2020.


-->
